<p id="notice"><%= notice %></p>

<h1>Songs</h1>
<div id="songs">
<%= render @songs %>
</div>
<br>
<div id="song-form" style="display:none;"></div>
<%= link_to 'New Song', new_artist_song_path(params[:artist_id]), remote: true %>
