<p id="notice"><%= notice %></p>

<h1>Songs</h1>

<div id="song-form" style="display:none;"></div>
<%= link_to 'New Song', new_artist_song_path(params[:artist_id]), remote: true %>

<div id="songlist">
  <%= render @songs %>
</div>
<div>
<%= link_to '[Back to artists]', artists_path %>
</div>
